1. Create a function based on the input and output. Look at the examples, there is a pattern.

In [34]:
def secret(string):
    s = string.split('.')
    f = ''
    for i in range(len(s)):
        if i ==0:
            f+='<p class=\''
        else:
            f+=s[i]+' '
    return f.strip()+'\'></p>'

In [35]:
secret("p.one.two.three")

"<p class='one two three'></p>"

In [36]:
secret("p.one")

"<p class='one'></p>"

In [37]:
secret("p.four.five")

"<p class='four five'></p>"

2. Create a function which counts how many lone 1s appear in a given number. Lone means the number doesn't appear twice or more in a row.

In [57]:
def count_lone_ones(num):
    num = list(str(num))
    count = 0
    i = 0
    while (i<len(num)):
        if num[i] == '1':
            try:
                if num[i+1]!='1':
                    count+=1
                else:
                    i+=1
            except IndexError:
                if num[i] == '1':
                    count+=1
        i+=1          
    return count

In [58]:
count_lone_ones(101)

2

In [59]:
count_lone_ones(1191)

1

In [60]:
count_lone_ones(1111)

0

In [61]:
count_lone_ones(462)

0

3. Write a method that accepts two integer parameters rows and cols. The output is a 2d array of numbers displayed in column-major order, meaning the numbers shown increase sequentially down each column and wrap to the top of the next column to the right once the bottom of the current column is reached.

In [97]:
def printGrid(row,col):
    grid = []
    for i in range(row):
        l=[]
        for j in range(1,col+1):
            if j==1:
                l.append(j+i)
            else:
                l.append(l[j-2]+row)
        grid.append(l)        
    return grid

In [98]:
printGrid(3, 6)

[[1, 4, 7, 10, 13, 16], [2, 5, 8, 11, 14, 17], [3, 6, 9, 12, 15, 18]]

In [99]:
printGrid(5, 3)

[[1, 6, 11], [2, 7, 12], [3, 8, 13], [4, 9, 14], [5, 10, 15]]

In [100]:
printGrid(4, 1)

[[1], [2], [3], [4]]

4. Given a list of integers, return the smallest positive integer not present in the list.

Here is a representative example. Consider the list:

In [108]:
def min_miss_pos(lst):
    lst = set(sorted(lst))
    for i in range(1,len(lst)):
        if i not in lst:
            return i

In [109]:
min_miss_pos([-2, 6, 4, 5, 7, -1, 1, 3, 6, -2, 9, 10, 2, 2])

8

In [110]:
min_miss_pos([5, 9, -2, 0, 1, 3, 9, 3, 8, 9])

2

In [111]:
min_miss_pos([0, 4, 4, -1, 9, 4, 5, 2, 10, 7, 6, 3, 10, 9])

1

5. Google is launching a network of autonomous pizza delivery drones and wants you to create a flexible rewards system (Pizza Pointsâ„¢) that can be tweaked in the future. The rules are simple: if a customer has made at least N orders of at least Y price, they get a FREE pizza!

In [126]:
customers = {
  "Batman": [22, 30, 11, 17, 15, 52, 27, 12],
  "Spider-Man": [5, 17, 30, 33, 40, 22, 26, 10, 11, 45]
}
def pizza_points(customers, min_orders,min_price):
    c = []
    for k,v in customers.items():
        count = sum(i > min_price for i in v)
        if count >=min_orders:
            c.append(k)
    return c

In [127]:
pizza_points(customers, 5, 20)

['Spider-Man']

In [128]:
pizza_points(customers, 3, 10)

['Batman', 'Spider-Man']

In [129]:
pizza_points(customers, 5, 100)

[]