1. Given a list of numbers, create a function that removes 25% from every number in the list except the smallest number, and adds the total amount removed to the smallest number.

In [11]:
def show_the_love(lst):
    sum = 0
    small = min(lst)
    for el in lst:
        if el != small:
            p = el*0.25
            i = lst.index(el)
            lst[i]-= p
            sum += p
    j = lst.index(small)
    lst[j]+=sum
    return lst

In [12]:
show_the_love([4, 1, 4])

[3.0, 3.0, 3.0]

In [13]:
show_the_love([16, 10, 8])

[12.0, 7.5, 14.5]

In [14]:
show_the_love([2, 100])

[27.0, 75.0]


2. Create a function that takes in two words as input and returns a list of three elements, in the following order:

   1.Shared letters between two words.
   2.Letters unique to word 1.
   3.Letters unique to word 2.

Each element should have unique letters, and have each letter be alphabetically sorted.

In [56]:
def letters(str1,str2 ):
    str1 = set(str1)
    str2 = set(str2)
    shared =''.join(sorted(str1&str2))
    unique1 = ''.join(sorted(str1-str2))
    unique2 = ''.join(sorted(str2-str1))
    return [shared,unique1,unique2]

In [57]:
letters("sharp", "soap")

['aps', 'hr', 'o']

In [58]:
letters("board", "bored")

['bdor', 'a', 'e']

In [59]:
letters("happiness", "envelope")

['enp', 'ahis', 'lov']

In [60]:
letters("kerfuffle", "fluffy")

['flu', 'ekr', 'y']

In [61]:
letters("match", "ham")

['ahm', 'ct', '']

3. Write a function that pairs the first number in an array with the last, the second number with the second to last, etc.

In [78]:
def pairs(lst):
    p = []
    j = len(lst)-1
    i= 0
    while i<=j:
        p.append([lst[i],lst[j]])
        i+=1
        j-=1
    return p

In [79]:
pairs([1, 2, 3, 4, 5, 6, 7])

[[1, 7], [2, 6], [3, 5], [4, 4]]

In [80]:
pairs([1, 2, 3, 4, 5, 6])

[[1, 6], [2, 5], [3, 4]]

In [81]:
pairs([5, 9, 8, 1, 2])

[[5, 2], [9, 1], [8, 8]]

In [82]:
pairs([])

[]

4. Write a function that adds two numbers. The catch, however, is that the numbers will be strings.

In [108]:
def add_str_nums(a,b):
    if not a:
        a='0'
    if not b:
        b='0'
    if a.isdigit() and b.isdigit():
        return str(int(a)+int(b))
    else:
        return -1

In [109]:
add_str_nums("4", "5")

'9'

In [110]:
add_str_nums("abcdefg", "3")

-1

In [111]:
add_str_nums("1", "")

'1'

In [112]:
add_str_nums("1874682736267235927359283579235789257", "32652983572985729")

'1874682736267235927391936562808774986'

5. lPaeesh le pemu mnxit ehess rtnisg! Oh, sorry, that was supposed to say: Please help me unmix these strings!

Somehow my strings have all become mixed up; every pair of characters has been swapped. Help me undo this so I can understand my strings again

In [3]:
def unmix(string):
    lst = list(string)
    n = len(lst)
    for i in range(n):
        if i%2 !=0:
            lst[i-1],lst[i] = lst[i],lst[i-1]
    return ''.join(lst)

In [4]:
unmix("123456")

'214365'

In [5]:
unmix("hTsii  s aimex dpus rtni.g")

'This is a mixed up string.'

In [6]:
unmix("badce")

'abcde'