1. Create a function to perform basic arithmetic operations that includes addition, subtraction, multiplication and division on a string number (e.g. "12 + 24" or "23 - 21" or "12 // 12" or "12 * 21").

In [13]:
def arithmetic_operation(num_str):
    a,op,b = num_str.split()
    if op == '+':
        return int(a)+int(b)
    elif op == '-':
        return int(a)-int(b)
    elif op == '*':
        return int(a)*int(b)
    elif op == '//':
        if int(b) == 0:
            return -1
        else:
            return int(a)//int(b)

In [14]:
arithmetic_operation("12 + 12")

24

In [15]:
arithmetic_operation("12 - 12")

0

In [16]:
arithmetic_operation("12 * 12")

144

In [17]:
arithmetic_operation("12 // 0")

-1

2. Write a function that takes the coordinates of three points in the form of a 2d array and returns the perimeter of the triangle. The given points are the vertices of a triangle on a two-dimensional plane.

In [29]:
import math
def perimeter(lst):
    d = 0
    n= len(lst)
    for x in range(n):
        i=x
        if x+1 >n-1:
            j=0
        else:
            j=i+1
        
        d +=math.sqrt((lst[j][0]-lst[i][0])**2+(lst[j][1]-lst[i][1])**2)
    return d

In [30]:
perimeter( [ [15, 7], [5, 22], [11, 1] ] )

47.07918859608948

In [31]:
perimeter( [ [0, 0], [0, 1], [1, 0] ] )

3.414213562373095

In [32]:
perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] )

68.2842712474619

3. A city skyline can be represented as a 2-D list with 1s representing buildings. In the example below, the height of the tallest building is 4 (second-most right column).

In [42]:
def tallest_skyscraper(lst):
    tall = []
    n = len(lst[0])
    for i in range(n):
        s = 0
        for el in lst:
            s+= el[i]
        tall.append(s)
    return max(tall)

In [43]:
tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
])

3

In [44]:
tallest_skyscraper([
  [0, 1, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
])

4

In [45]:
tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 0, 0, 0],
  [1, 1, 1, 0],
  [1, 1, 1, 1]
])

2

4. A financial institution provides professional services to banks and claims charges from the customers based on the number of man-days provided. Internally, it has set a scheme to motivate and reward staff to meet and exceed targeted billable utilization and revenues by paying a bonus for each day claimed from customers in excess of a threshold target.

In [70]:
import math
def bonus(days):
    b1 = max(0,days-32)
    b2 = max(0,b1-8)
    b3 = max(0,b2-8)
    if days <32:
        bill = 0
    elif b1 < 8:
        bill=b1*325
    elif b2<8:
        bill = 8*325+b2*550
    else:
        bill= 8*(325+550)+b3*600
    return bill

In [71]:
bonus(15)

0

In [72]:
bonus(37)

1625

In [73]:
bonus(50)

8200

5. A number is said to be Disarium if the sum of its digits raised to their respective positions is the number itself.

Create a function that determines whether a number is a Disarium or not.

In [87]:
def is_disarium(num):
    sum = 0
    nstr = str(num)
    nlen = len(nstr)
    for i in range(nlen):
        sum += int(nstr[i])**(i+1)
    if num == sum:    
        return True
    else:
        return False

In [89]:
is_disarium(75)

False

In [90]:
is_disarium(135)

True

In [91]:
is_disarium(544)

False

In [92]:
is_disarium(518)

True

In [93]:
is_disarium(466)

False

In [94]:
is_disarium(8)

True