1. Create a function that takes a list and string. The function should remove the letters in the string from the list, and return the list.

In [4]:
def remove_letters(lst,word):
    for ch in word:
        if ch in lst:   
            lst.pop(lst.index(ch))
    return lst

In [5]:
remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string")

['w']

In [6]:
remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon")

['b', 'g', 'w']

In [7]:
remove_letters(["d", "b", "t", "e", "a", "i"], "edabit")

[]

2. A block sequence in three dimensions. We can write a formula for this one:

In [21]:
def blocks(n):
    a =1
    b= 11
    c= -2
    return int((a*n**2+b*n+c)/2)

In [25]:
blocks(1)

5

In [26]:
blocks(2)

12

In [27]:
blocks(3)

20

In [28]:
blocks(4)

29

In [29]:
blocks(5)

39

3. Create a function that subtracts one positive integer from another, without using any arithmetic operators such as -, %, /, +, etc.

In [14]:
def my_sub(a,b):
        borrow = (~a) & b
        d = a ^ b
        b = borrow << 1
        return b

In [15]:
my_sub(5, 9)

16

In [16]:
my_sub(12,8)

0

4. Create a function that takes a string containing money in dollars and pounds sterling (seperated by comma) and returns the sum of dollar bills only, as an integer.

In [57]:
def add_bill(string):
    sum = 0
    lst = string.split(',')
    for el in lst:
        if 'k'in el:
            el=el.replace('k', '000')
        if 'd' in el:
            sum+=int(el[1:])
    return sum

In [58]:
add_bill("d20,p40,p60,d50")

70

In [59]:
add_bill("p30,d20,p60,d150,p360")

170

In [60]:
add_bill("p30,d2k,p60,d200,p360")

2200

5. Create a function that flips a horizontal list into a vertical list, and a vertical list into a horizontal list.

In other words, take an 1 x n list (1 row + n columns) and flip it into a n x 1 list (n rows and 1 column), and vice versa.

In [69]:
def flip_list(lst):
    flip =[]
    for el in lst:
        if el is list:
            print(el[0])
        else:
            flip.append([el])
    return flip

In [70]:
flip_list([1, 2, 3, 4])

[[1], [2], [3], [4]]

In [71]:
flip_list([[5], [6], [9]])

[[[5]], [[6]], [[9]]]